* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.navigation {
  padding: 75px 165px 100px 165px;
}

nav ul li {
  display: inline-block;
  margin-right: 100px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  width: 113px;
  font-weight: 400;
}

nav ul li a:hover {
  color: #03a9f4;
}

a:visited {
  color: #626262;
}

.article {
  margin: 0px 0px 50px 0px;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 30px);
}

article:nth-child(odd) {
  margin-right: 56px;
}

article:nth-child(even) {
  margin-right: 0;
}

.text-article {
  text-align: justify;
  width: 420px;
}

img {
  height: 280px;
  width: 420px;
}
.cover {
  background-size: cover;
}

h2 {
  font-size: 30px;
  margin: 15px 0px;
}

.cover + p {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.button {
  margin-top: 20px;
  margin-bottom: 70px;
}

button {
  display: block;
  border: 1px solid #626262;
  height: 60px;
  width: 164px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 20px;
  color: #626262;
  font-family: "Playfair Display", serif;
}
